<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>RFC</th>
      <th>Puesto</th>
      <th>Correo</th>
      <th>Salario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empleados">
      <td *ngIf="!emp.editando">{{ emp.nombre }} {{ emp.apellido }}</td>
      <td *ngIf="emp.editando">
        <input [(ngModel)]="emp.nombre" placeholder="Nombre" />
        <input [(ngModel)]="emp.apellido" placeholder="Apellido" />
      </td>
      <td>{{ emp.rfc }}</td>
      <td>{{ emp.puesto }}</td>
      <td>{{ emp.correo }}</td>
      <td *ngIf="!emp.editando">{{ emp.salario }}</td>
      <td *ngIf="emp.editando">
        <input type="number" [(ngModel)]="emp.salario" />
      </td>
      <td>
        <button *ngIf="!emp.editando" (click)="editar(emp)">Editar</button>
        <button *ngIf="emp.editando" (click)="guardar(emp)">Guardar</button>
        <button (click)="eliminar(emp.idEmpleado)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
